$main-font: "Lato" !important;
$hover-color: #D1A73B;

.button{
	font-family: $main-font;
	background-color: #222;
}

.button:hover, .button:focus{
		background-color: $hover-color;
	}

.more{
	width:100%;
    max-width: 500px;
}

.project-frame {
	position: relative;
	color: #fff;
    max-width: 500px;
}

.project-text {
	display: none;
	opacity: 0.85;
	background: #222;
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 5px;

	h3{
		font-family: $main-font;
		color: #fff;
	}
}